#mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#title{
    text-align: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    width: 512px;
    height: 512px;
}

.column,
.row{
    flex: 1 1 auto;
}

.column{
    display: flex;
    text-align: center;
    gap: 1px;
    flex-basis: 51%;
    justify-content: center;
}

.row{
    border: 1px black solid;
}