body {
    display: flex;
    flex-direction: column;
}

#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#title {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    width: 512px;
    height: 512px;
}

.column,
.row {
    flex: 1 1 auto;
}

.column {
    display: flex;
    text-align: center;
    gap: 1px;
    flex-basis: 51%;
    justify-content: center;
}

.row {
    border: 1px black solid;
}

footer {
    display: flex;
    justify-content: center;
    margin: 64px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

footer a {
    text-decoration: none;
    font-weight: 700;
}